aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
async-timeout==5.0.1
attrs==25.4.0
autocommand==2.2.2
backports.tarfile==1.2.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cheroot==11.1.2
CherryPy==18.10.0
contextvars==2.4
croniter==6.0.0
cryptography==46.0.3
distro==1.9.0
frozenlist==1.8.0
idna==3.11
immutables==0.21
importlib_metadata==8.7.0
importlib_resources==6.5.2
inflect==7.5.0
jaraco.collections==5.2.1
jaraco.context==6.0.1
jaraco.functools==4.3.0
jaraco.text==4.0.0
Jinja2==3.1.6
jmespath==1.0.1
looseversion==1.3.0
MarkupSafe==3.0.3
more-itertools==10.8.0
msgpack==1.1.2
multidict==6.7.0
packaging==25.0
portend==3.2.1
propcache==0.4.1
psutil==7.1.3
pycparser==2.23
pycryptodomex==3.23.0
pyOpenSSL==25.3.0
python-dateutil==2.9.0.post0
python-gnupg==0.5.5
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
requests==2.32.5
rpm_vercmp==0.1.2
salt @ git+https://github.com/mitar/salt.git@mitar
setproctitle==1.3.7
setuptools==80.9.0
six==1.17.0
tempora==5.8.1
timelib==0.3.0
tornado==6.5.2
typeguard==4.4.4
typing_extensions==4.15.0
urllib3==2.5.0
yarl==1.22.0
zc.lockfile==4.0
zipp==3.23.0
